---
layout: page
title: Research
---

<h3>Selected Publications (with my direct and essential contributions)</h3>

{% assign pubs = site.data.pubs | sort: "year" | reverse %}

<div class="pub-grid" markdown="0">
{% for p in pubs %}
  <div class="pub-card">
    <div class="pub-icon">{{ p.icon | default: "📄" }}</div>
    <div>
      <p class="pub-title">
        <a href="{{ p.url }}" target="_blank" rel="noopener">{{ p.title }}</a>
      </p>
      <p class="pub-meta">
        {{ p.authors }}
        {% if p.venue %} · {{ p.venue }}{% endif %}
        {% if p.year %} · {{ p.year }}{% endif %}
      </p>

      {% if p.tags %}
      <div class="pub-tags">
        {% for t in p.tags %}
          <span class="pub-tag">{{ t }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>

<h3>Public Talks and Posters</h3>

<div class="pub-grid">
{% assign talks = site.data.talks | sort: "year" | reverse %}
{% for t in talks %}
  <div class="pub-card">
    <div class="pub-icon">{{ t.icon | default: "🎤" }}</div>
    <div>
      <p class="pub-title">{{ t.title }}</p>
      <p class="pub-meta">
        {{ t.kind | capitalize }}
        {% if t.venue %} · {{ t.venue }}{% endif %}
        {% if t.location %} · {{ t.location }}{% endif %}
        {% if t.year %} · {{ t.year }}{% endif %}
      </p>
    </div>
  </div>
{% endfor %}
</div>


<!--

### Selected Publications

<ul>
  <li><a href="https://arxiv.org/abs/2506.04491" target="_blank"> GollumFit: An IceCube Open-Source Framework for Binned-Likelihood Neutrino Telescope Analyses</a> <br>
  IceCube Collaboration </li>
  <li><a href="https://doi.org/10.1103/yypk-zmb8" target="_blank"> Ultrahigh-Energy Event KM3-230213A within the Global Neutrino Landscape</a> <br>
  KM3NeT Collaboration </li>
  <li><a href="https://arxiv.org/abs/2502.12070" target="_blank"> KM3NeT Constraint on Lorentz-Violating Superluminal Neutrino Velocity</a> <br>
  KM3NeT Collaboration </li>
  <li><a href="https://doi.org/10.1103/PhysRevLett.132.061001" target="_blank"> Detecting High-Energy Neutrinos from Galactic Supernovae with ATLAS</a> <br>
  Alex Y. Wen, Carlos A. Argüelles, Ali Kheirandish, Kohta Murase </li>
  <li><a href="https://doi.org/10.48550/arXiv.2406.01745" target="_blank"> SIREN: An Open Source Neutrino Injection Toolkit</a> <br> 
  Austin Schneider, Nicholas W. Kamp, Alex Y. Wen </li>
  <li><a href="https://doi.org/10.1088/1741-4326/abe68c" target="_blank"> A stable corridor for toroidal plasma compression</a> <br> 
  Dylan Brennan et al. </li>
</ul>

### Talks and contributions

* **Talk: Updated Earth Tomography Using Atmospheric Neutrinos at IceCube** <br>
   International Cosmic Ray Conference (ICRC) 2025, Geneva, Switzerland 
* **Poster: Detecting High-Energy Neutrinos from Galactic Supernovae With ATLAS** <br>
   Neutrino 2024, Milan, Italy
* **Talk: Detecting Neutrinos and Searching for New Ones** <br> 
   TDLI (Shanghai Jiao Tong) Seminar, Shanghai, China
* **Poster: Detecting High-Energy Neutrinos from Galactic Supernovae With ATLAS** <br>
   International Neutrino Summer School 2024, Bologna, Italy
* **Poster & talk: Possibility of Detecting High-Energy Neutrinos from Galactic Supernovae With ATLAS** <br> 
   MAYORANA Summer School 2023, Modica, Italy

-->

<!--

<details>
  <summary> <b>Undergrad research projects (2018 - 2022).</b> </summary>

 ### Interferometry at the Institute for Quantum Computing

  I worked on characterizing silicon for a future grating interferometer experiment. This experiment, in <a href="https://services.iqc.uwaterloo.ca/people/profile/dpushin/" target="_blank"> Dmitry Pushin's group</a>, will use neutrons to <a href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.120.113201" target="_blank">measure the gravitational constant</a>.

  For certain silicon crystals to be used as sensitive optical gratings, we need to understand its properties - in particular, its <a href="https://en.wikipedia.org/wiki/Birefringence" target="_blank">birefringence</a> (an often small change in refractive index that depends on light polarization). Using a NIR laser and simple optical setup, I did measurements on several silicon samples, measuring birefringence with high sensitivity ($\sim 10^{-6}$).

  <center><img src="{{ site.github.url }}/assets/img/intro/sample2_birefmap.png"  width="550"/></center>
  <center><i>A map of measured birefringence of a portion of a silicon sample (on the left side), compared to birefringence measured through the air (no sample, on the right side).</i></center>

 ### Plasma Stability at General Fusion

  General Fusion's approach to nuclear fusion is to first inject a plasma into a cavity surrounded by liquid metal; this cavity is then collapsed using pistons, which squeezes and heats the plasma and induces fusion reactions.

  <center><img src="{{ site.github.url }}/assets/img/intro/gf-compression.gif" width="450"/></center>
  <center><i>An animation of fusion reactor concept. After the plasma is injected from the top, the arrayed pistons on the outside compress the liquid metal and plasma.</i></center>

  With Aaron Froese and the simulations team, we studied ways to optimize the characteristics of a hot plasma that is being compressed. When we subject plasma to increased temperatures and densities for fusion to take place, we want to ensure that it will remain stable and behave in a useful way.

  ### ATLAS

  I spent around 6 months working on the <a href="https://atlas.cern/" target="_blank">ATLAS experiment</a>, a large particle collider experiment at CERN.

  With Pierre Savard and Lukas Adamek at the University of Toronto, we developed ways to estimate and quantify the measurement uncertainty of the Higgs boson mass, an important parameter of interest that ATLAS observes.

  <center><img src="{{ site.github.url }}/assets/img/intro/HtoZZto4lchannel.jpg"  width="400"/></center>
  <center><i>The uncertainty of the Higgs mass is related to how wide the Higgs mass distribution (light blue) appears on a histogram of many different particle masses. Plot from the <a href="https://www.sciencedirect.com/science/article/pii/S037026931200857X#fg0080" target="_blank">2012 ATLAS Higgs discovery paper</a>.</i></center>

  Before that, with Alison Lister and Colin Gay at my home university, we developed machine learning methods to distinguish a specific kind of quark (top) decay from large quantities of background data.  

  <center><img src="{{ site.github.url }}/assets/img/intro/signal_top.png"  width="400"/></center>
  <center><i>We want to classify seemingly incomprehensible particle decay events like this one, plotted in a coordinate space, as signal or background. An application of certain machine learning methods, often devised for completely unrelated purposes, can sometimes be fruitful.</i></center>

  ### LHCb Statistics

  For a summer at Imperial College London, I worked with William Barter on the <a href="http://lhcb-public.web.cern.ch/" target="_blank">LHCb experiment</a>, also located at CERN. We used and developed statistical methods to see if the differences between two samples of particle decay data are statistically significant. Such methods are useful for seeing how matter and antimatter behave differently, a central problem in physics.

  ### NEWS-G Dark Matter Search at SNOLAB

  For a summer at <a href="https://www.snolab.ca/" target="_blank">SNOLAB</a>, with Pierre Gorel, I worked on simulations of a new dark matter detector called <a href="https://news-g.org/" target="_blank">NEWS-G</a>. We were interested in seeing the effects of a neutron radiation calibration source on the detector performance, and investigated signal processing options to discriminate between dark matter and other signals.

  <center><img src="{{ site.github.url }}/assets/img/intro/newsg-detector.png"  width="250"/></center>
  <center><i>NEWS-G is a big sphere with electrodes and filled with gas, making it a <a href="https://en.wikipedia.org/wiki/Proportional_counter" target="_blank">proportional counter</a> that's sensitive to many signals, including <a href="https://en.wikipedia.org/wiki/Weakly_interacting_massive_particles " target="_blank">WIMP</a> dark matter candidates. It's shielded by lead and plastic from background radiation. </i></center>

  ### Commissioning the EMMA Spectrometer at TRIUMF

  EMMA is a recoil mass spectrometer at <a href="https://www.triumf.ca/" target="_blank">TRIUMF</a>, Canada's national lab for accelerator physics. At EMMA, after an energetic particle beam is collided into a target, the resulting nuclei (recoils) are sorted and classified based on their mass and charge. It allows us to study a lot of different nuclear reactions, especially astrophysical ones.  

  I worked with EMMA's principal researcher, Barry Davids, for one summer on running simulations and gauging EMMA's operating characteristics.

  <center><img src="{{ site.github.url }}/assets/img/intro/emma-triumf.jpg"  width="350"/></center>
  <center><i>EMMA consists of a series of electric and magnetic deflectors to separate particle beams into constituents.</i></center>

</details>

-->
